body
{
    background-color:rgb(151, 94, 29);
    text-align: center;
}
.banner img
{
    width: 100%;
    height: 100%;
}

.grid
{
    display: grid;
}
.Unterlage
{
    background-color: white;
}